@import "./fonts.scss";
@import "./reset/reset.scss";
@import "./components/header.scss";
@import "./components/nightcity.scss";
@import "./components/playwin.scss";
@import "./components/hp.scss";
@import "./components/buy.scss";
@import "./components/footer.scss";
//font-family: 'Roboto';
//font-family: 'Archangelsk';



html{
    .container{
        width: 1280px;
        margin: 0 auto;
        height: 100%;
    }
}