.buy 
  img(src="./assets/imgs/games.jpg", alt="")
  .left-sec 
    .container 
      h2 Купить игру Cyberpunk 2077
      .set 
        h3 В комплект входит:
        .disc 
          img(src="./assets/imgs/disk.svg", alt="")
          p Футляр с игровыми дисками
        .codes 
          img(src="./assets/imgs/code.svg", alt="")
          p Футляр с кодом для загрузки игры и дисками (pc)
        .pics
          img(src="./assets/imgs/pic-s.svg", alt="")
          p Справочник с информацией об игровом мире
      .platforms 
        h3 Выберите платформу:
        .logos 
          .top-line
            img(src="./assets/imgs/pc-logo.png", alt="")
            img(src="./assets/imgs/xbox-logo.svg", alt="")
          .bottom-line
            img(src="./assets/imgs/stadia-logo.png", alt="")
            img(src="./assets/imgs/playstation-logo.svg", alt="")