.footer 
  .container 
    .logo-side 
      img.logo(src="./assets/imgs/logo.png", alt="")
      img.cd-project(src="./assets/imgs/cd_projekt.svg", alt="")
    .privacy 
      button Лицензия
      button Политика конфиденциальности
.black-line
  .container 
    p CD PROJEKT®, Cyberpunk®, Cyberpunk 2077®