.header-main
  .container 
    .header
      .logo 
        
      .menu 
        a.youtube(href="") 
          img(src="./assets/imgs/youtube.svg", alt="")
        a.vk(href="") 
          img(src="./assets/imgs/vk.svg", alt="")
        a.facebook(href="") 
          img(src="./assets/imgs/facebook.svg", alt="")
        a.twitter(href="") 
          img(src="./assets/imgs/twitter.svg", alt="")
        a.twitch(href="") 
          img(src="./assets/imgs/twitch.svg", alt="")
        a.instagram(href="") 
          img(src="./assets/imgs/instagram.svg", alt="")
    .platform 
      p Доступно на всех платформах
      button Узнать больше