.hp 
  img.by-line(src="./assets/imgs/by-line.png", alt="")
  .container 
    .pc-section
      img(src="./assets/imgs/pc.png", alt="")
      .logo-section 
        img(src="./assets/imgs/hp.svg", alt="")
        img(src="./assets/imgs/x.svg", alt="")
        img(src="./assets/imgs/logo-yel.png", alt="")
    .info-section
      h2 Полное погружение вместе с HP
      p Погрузись в современные экшен-игры с реалистичным изображением с помощью монитора с диагональю 23,8 дюйма, созданном для отображения максимально насыщенных цветов. Успевай реагировать на любые события с временем отклика 1 мс и частотой в 144 Гц!
      .advantages 
        .color 
          img(src="./assets/imgs/color.svg", alt="")
          p Яркие насыщенные цвета
        .clarity 
          img(src="./assets/imgs/stars.svg", alt="")
          p Кристальная четкость изображения
        .faster
          img(src="./assets/imgs/slides.svg", alt="")
          p Быстрые движения и плавный геймплей
      button Подробнее