.playwin 
  img(src="./assets/imgs/wb-line.png", alt="")
  .container 
    .title 
      img.sale(src="./assets/imgs/sale.svg", alt="")
      h2 Играй и выигрывай!
    p Играй в <span>Cyberpunk 2077</span> и получи возможность выиграть консоль <span>Xbox Series X</span> или <span>Sony PlayStation 5!</span> Заполни <br>форму ниже и приложи скриншот о покупке игры. Итоги розыгрыша будут подведены 1 февраля. Удачи! ;)
    .main-content 
      .left-section
        .blank 
          input.name(type="text" placeholder="Как тебя зовут?")
          input.email(type="text" placeholder="Твой е-mail")
          .add-screen 
            button Прикрепить скриншот
            p .png / .jpg / .pdf
          input.btn(type="submit" valve="Отправить")
        form(action="")
          input(
            type='checkbox'
            name='agreement'
              
          )
          
          label(for="favorite") Согласен на обработку персональных данных
      img.gifts(src="./assets/imgs/gifts.png", alt="")
    
