doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title CyberPunk
    link(rel="stylesheet" href="./assets/css/app.css")
    
  body
    include ../components/header.pug
    include ../components/nightcity.pug
    include ../components/playwin.pug
    include ../components/hp.pug
    include ../components/buy.pug
    include ../components/footer.pug